# Exlude log files
*.log
# Exclude font files
*.ttf
# Exclude everything in training_data/ directory except few example files
training_data/*/*.png
!training_data/level/class_00_000.png
!training_data/level/class_14_405.png
!training_data/mainstat/class_00_000.png
!training_data/mainstat/class_523_689.png
!training_data/substat/class_00_000.png
!training_data/substat/class_99_123.png
# Exclude level CNN checkpoint parameters
*.pth
!level_cnn/level_cnn_model.pth
!mainstat_cnn_model.pth
# test